
body{
background: linear-gradient(rgb(188, 188, 188), rgb(201, 241, 206));
background-repeat: no-repeat;
background-attachment: fixed;

}
.link{
   text-decoration: none;
   font-size: 17px;

}
